* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* This is for custom light theme */
  --background: #f7f7f8;
  --background-secondary: #ebebec;
  --background-dark: #3c3c3c;
  --form-background: #f7f7f8;
  --form-text: #1A1A1C;
  --foreground: #1A1A1C;
  --primary: #4F46E5;
  --secondary: #b5b2ef;
  --border: #D1D5DB;
}

[data-theme="dark"] {
  --background: #0F0F11;
  --background-secondary: #1E1E1E;
  --background-dark: #3c3c3c;
  --form-background: #f7f7f8;
  --form-text: #1A1A1C;
  --foreground: #E6E6E7;
  --primary: #818CF8;
  --secondary: #d4d8ff;
  --border: #424243;
}

body {
  background: var(--background);
  color: var(--foreground);
}
